<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>

    <!-- JIET Logo -->
    <div style="text-align: center; margin-bottom: 20px;" class="logo-container">
        <img src="{{ url_for('static', filename='images/JIET_universe_logo.png') }}"
             alt="JIET Logo"
             style="width: 150px; height: auto;">
    </div>

    <div class="container">
        <h2 class="word">Admin Login</h2>
        <form action="{{ url_for('admin_login') }}" method="POST">
            {% if msg %}
                <div>{{ msg }}</div>
            {% endif %}
            <input class="textbox" type="text" name="username" placeholder="Enter Admin Username" required>
            <input class="textbox" type="password" name="password" placeholder="Enter Password" required>
            <button class="btn" type="submit">Login</button>
        </form>
    </div>
</body>
</html>
