<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Bus ID</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style3.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet" />
</head>

<body>

  <!-- Sidebar -->
  <div class="sidebar" id="sidebar">
    <button class="toggle-btn" onclick="toggleSidebar()">☰</button>
    
    <h2>Hi</h2>
    <a href="{{ url_for('buses_for_stop') }}">🚌 <span>My Bus</span></a>
    <a href="{{ url_for('bus_id') }}">🚌 <span>Bus ID</span></a>
    <a href="{{ url_for('track_bus_page') }}">🚌 <span>Track My Bus</span></a>
  </div>

  <!-- Main Content -->
  <div id="mainContent">
    <div class="title-row">
      <img src="{{ url_for('static', filename='images/jiet_logo.jpg') }}" class="title-logo">
      <h1>Bus ID</h1>
    </div>

    <div class="id-card">
      {% if student %}
        <div class="card-left">
          <img src="{{ url_for('static', filename=student.image_path) }}" alt="Student Photo" class="student-photo" />
          <h2>{{ student.name }}</h2>

          <div class="info">
            <p><strong>Year:</strong> {{ student.year }}</p>
            <p><strong>Department:</strong> {{ student.department }}</p>
            <p><strong>Email:</strong> {{ student.email }}</p>
            <p><strong>Bus Stop:</strong> {{ student.bus_stop }}</p>
          </div>

          <div class="status {% if student.eligible == 1 %}eligible{% else %}not-eligible{% endif %}">
            {% if student.eligible == 1 %}
              ✅ Eligible for Transport
            {% else %}
              ❌ Not Eligible (Fee Pending)
           {% endif %}
          </div>

          <p class="footer-note">JIET Jodhpur • Transport Department</p>
          <p class="qr-text">Scan ID</p>
          <img class="qr-code"
          src="{{ url_for('static', filename='qr_codes/' + student.student_id.replace('/', '') + '.png') }}"
            alt="QR Code">
          <p class="qr-text">{{ student.student_id }}</p>
    </div>

    <!-- QR CODE ON RIGHT SIDE -->



  {% else %}
    <p class="msg">{{ msg }}</p>
  {% endif %}
</div>


  <script>
    function toggleSidebar() {
      document.getElementById("sidebar").classList.toggle("collapsed");
      document.getElementById("mainContent").classList.toggle("collapsed");
    }
  </script>

</body>
</html>
