<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Registration</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>

  <!-- JIET Logo -->
  <div style="text-align: center; margin-bottom: 20px;" class="logo-container">
    <img src="{{ url_for('static', filename='images/JIET_universe_logo.png') }}"
         alt="JIET Logo"
         style="width: 150px; height: auto;">
  </div>


  <div class="container">
    <h2 class="formHeading">Student Registration</h2>
    <div class="msg">{{ msg }}</div>

    <form action="{{ url_for('register') }}" method="POST">
      <input class="textbox" type="text" name="student_id" placeholder="Enter Student ID (e.g., JIET/DS/22/030)" required>
      <input class="textbox" type="text" name="name" placeholder="Enter Full Name" required>

      <select name="department" required>
        <option value="">Select Department</option>
        <option value="CSE">CSE</option>
        <option value="CSE-DS">CSE (Data Science)</option>
        <option value="ECE">ECE</option>
        <option value="EE">EE</option>
        <option value="ME">ME</option>
        <option value="CE">CE</option>
      </select>

      <!-- Year of Enrollment -->
      <select name="year" required>
        <option value="">Select Year of Enrollment</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
      </select>

      <!-- Bus Stop -->
      <select name="bus_stop" required>
        <option value="">Select Bus Stop</option>
          {% for stop in bus_stops %}
            <option value="{{ stop.bus_stop }}">{{ stop.bus_stop }}</option>
          {% endfor %}
      </select>

      <input class="textbox" type="email" name="email" placeholder="Enter College Email ID" required>
      <input class="textbox" type="password" name="password" placeholder="Enter Password" required>

      <button class="btn" type="submit">Register</button>
    </form>

    <p class="bottom">
      Already have an account? 
      <a href="{{ url_for('login') }}">Login here</a>
    </p>
  </div>

</body>
</html>
